<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <div class="bar"></div>
        <div class="upper">
            <h1>Dining In Or Out ?</h1>
            <h2>Your choice !</h2>
        </div>
        <div class="lower">
            <div class="cook">
                <a href="/ingredient/{{ingredients}}">
                    <p>Check Your Fridge & Find A Recipe</p>
                </a>
            </div>
            <div class="restaurant">
                <div class="content">
                    <p1>Check Out Your Local Restaurant</p1>
                    <form action="/welcome" method="post" name="restaurant">
                        <input name="location" type="text" style="width:200px; height: 50px; font-size: 20px" placeholder="location" required/>
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>